

<div class="sidebar-wrapper">
  <div class="logo-container pointer"  [routerLink]="['/home']">
    <img src="../../../assets/imgs/base logo copie.png" class="gen_img_contain">
  </div>
  <div class="menu">
    <div class="nav-element pointer" [routerLink]="['/home']" >
      <a class="hover-underline-animation">
        NEW IN STORE
      </a>
    </div>
    <div class="nav-element pointer" [routerLink]="['/articles']">
      <a class="hover-underline-animation">
        CLOTHING
      </a>
    </div>
    <div class="nav-element pointer" [routerLink]="['/Aboutus']">
      <a class="hover-underline-animation">
        ABOUT US
      </a>
    </div>
    <div class="nav-element pointer">
      <a routerLink="/cart" class="hover-underline-animation">
      {{countItems}} Items in CART
      </a>
    </div>

    <div class="nav-element ">
    </div>

    <div class="nav-element_2 ">
      <a class="hover-underline-animation">
      FOLLOW BLEED
      </a>
      <div class="social-icons">
        <a href="https://www.instagram.com/bleed.clt/" target="_blank">
          <img src="../../../assets/imgs/INSTA.png"  class="icon pointer">
        </a>
        <a href="https://www.facebook.com/profile.php?id=100083190741754" target="_blank">
          <img src="../../../assets/imgs/facebook.png"  class="icon pointer">
        </a>
       
      </div>
      

    </div>
    <div class="nav-element_3">
      All rights reserved 
      BleedCLT © 2023      
    </div>
    
  </div>
</div>
