<div style="background-size: cover; background-repeat: no-repeat;">
<div class="desc-container">
    <div class="desc-title" id="Title" >
      <span class="new-arrivals">ABOUT US</span>
      <div class="scroll_img_tear_container">
        <!-- Other content inside the container -->
      </div> 
    </div>
    
  <p class="desc-phrase" id="Phrase" >
    Bleed is a dynamic Tunisian streetwear brand known for its innovative designs, reflecting a fusion of cultural influences, and its commitment to sustainable fashion practices
  </p>
  </div>

  <div class="scroll_img_container ">
    <img src="../../../assets/imgs/pics 1.png"  class="scroll_img_pic1 ">
  </div>
  <div class="scroll_img_container ">
    <img src="../../../assets/imgs/pics 3.png"  class="scroll_img_pic2 ">
  </div>
  <div class="scroll_img_container ">
    <img src="../../../assets/imgs/pics 2.png"  class="scroll_img_pic3 ">
  </div>

</div>
